################################################################################
# Copyright (c) 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

[package]
categories = ["api-bindings"]
description = "Rust implementation of the Eclipse uProtocol library"
documentation = "https://github.com/eclipse-uprotocol/up-spec#readme"
edition = "2021"
exclude = [
    "tests/*",
    "tools/*",
    ".devcontainer/*",
    ".vscode/*",
    ".github/*",
    ".gitignore",
]
keywords = ["uProtocol", "SDK"]
license = "Apache-2.0"
name = "up-rust"
readme = "README.md"
repository = "https://github.com/eclipse-uprotocol/up-rust"
rust-version = "1.66"
version = "0.1.5"

[features]
cloudevents = ["dep:cloudevents-sdk", "dep:serde", "dep:serde_json"]
udiscovery = []
usubscription = []
utwin = []
default = []

[dependencies]
async-trait = { version = "0.1" }
bytes = { version = "1.5" }
chrono = { version = "0.4.32" }
cloudevents-sdk = { version = "0.7", optional = true }
mediatype = "0.19"
once_cell = { version = "1.19" }
protobuf = { version = "3.3" }
rand = { version = "0.8" }
regex = { version = "1.10" }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }
url = { version = "2.5" }
uuid = { version = "1.7", features = ["v8"] }

[build-dependencies]
protobuf-codegen = { version = "3.3" }
protoc-bin-vendored = { version = "3.0" }
reqwest = { version = "0.12", features = ["blocking"] }

[dev-dependencies]
async-std = {  version = "1.12.0", features = ["attributes"] }
futures = { version = "0.3.30" }
test-case = { version = "3.3" }
